@font-face {
  font-family: "LMSansUltraCond10";
  src: url("css/fonts/LMSansUltraCond10-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "VoieVerteFDC";
  src: url("css/fonts/VoieVerteFDC.ttf") format("truetype");
/*  font-weight: normal;
  font-style: normal;*/
}

@font-face {
  font-family: "Univers LT Std";
  src: url("css/fonts/Univers_LT_Std_49_Light_Ultra_Condensed.otf") format("opentype");
/*  font-weight: normal;
  font-style: normal;*/
}

